section{

}
.nav-tabs>li a{
    border: 0px !important;
}
.tab-content>div>div{
    padding: 15px 10px !important;
}
.top-tabs>h4{
    margin-left: 15px;
    padding: 10px 0;
}
.nav-tabs{
    border-bottom: 1px solid rgb(255, 186, 38) !important;
}
.nav > li > a:hover{
    color: white;
    background: rgb(255, 186, 36) !important;
}
.nav-tabs>li>a{
    color: #333;
}
.nav-tabs>.active>a{
    color: white !important;
    background: rgb(255, 186, 39) !important;
}
.effect>div>a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.an{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 200px;
    position: absolute;
    background: #333;
    color: white;
    font-size:14px;
	opacity: 0;
	transition: all 0.8s;
    top: 0;
    left: 0;
}
.an:hover{
    opacity: 0.8;
}